PORT=5000
MONGODB_URI=mongodb+srv://saravanan:amada1234@cluster0.1d6gi.mongodb.net/?appName=Cluster0
JWT_SECRET=kovai_task_manager_jwt_secret_key_2026_spec
GOOGLE_CLIENT_ID=674600937844-sbkl3phfi8g8cene5ektcco0rnac5ja2.apps.googleusercontent.com


